/* @import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme"; */
@import url(components/slick/slick.css);
@import url(components/slick/slick-theme.css);
* {
  padding: 0px;
  margin: 0px; }

body {
  overflow-x: hidden;
  font-size: 100%; }

@media only screen and (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1472px !important; } }

.pdTop1 {
  padding-top: 10px; }

.pdTop2 {
  padding-top: 20px; }

.pdTop3 {
  padding-top: 30px; }

.pdTop4 {
  padding-top: 40px; }

.pdTop5 {
  padding-top: 50px; }

.pdTop6 {
  padding-top: 60px; }

.pdTop7 {
  padding-top: 70px; }

.pdTop8 {
  padding-top: 80px; }

.pdTop9 {
  padding-top: 90px; }

.pdTop10 {
  padding-top: 100px; }

.pdBottom1 {
  padding-bottom: 10px; }

.pdBottom2 {
  padding-bottom: 20px; }

.pdBottom3 {
  padding-bottom: 30px; }

.pdBottom4 {
  padding-bottom: 40px; }

.pdBottom5 {
  padding-bottom: 50px; }

.pdBottom6 {
  padding-bottom: 60px; }

.pdBottom7 {
  padding-bottom: 70px; }

.pdBottom8 {
  padding-bottom: 80px; }

.pdBottom9 {
  padding-bottom: 90px; }

.pdBottom10 {
  padding-bottom: 100px; }

.mgb-1 {
  margin-bottom: 10px; }

.mgb-2 {
  margin-bottom: 20px; }

.mgb-3 {
  margin-bottom: 30px; }

.mgb-4 {
  margin-bottom: 40px; }

.mgb-5 {
  margin-bottom: 50px; }

.mgb-6 {
  margin-bottom: 60px; }

.mgb-7 {
  margin-bottom: 70px; }

.mgb-8 {
  margin-bottom: 80px; }

.mgb-9 {
  margin-bottom: 90px; }

.mgb-10 {
  margin-bottom: 100px; }

.mgt-1 {
  margin-top: 10px; }

.mgt-2 {
  margin-top: 20px; }

.mgt-3 {
  margin-top: 30px; }

.mgt-4 {
  margin-top: 40px; }

.mgt-5 {
  margin-top: 50px; }

.mgt-6 {
  margin-top: 60px; }

.mgt-7 {
  margin-top: 70px; }

.mgt-8 {
  margin-top: 80px; }

.mgt-9 {
  margin-top: 90px; }

.mgt-10 {
  margin-top: 100px; }

.brR {
  border-right: 1px solid #d3d3d3; }

.brB {
  border-bottom: 1px solid #d3d3d3; }

h1 {
  font-size: 2.2rem;
  color: #404040; }

button.outline_btn {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  margin-top: 5%;
  background-color: #ffffff;
  border: 1px solid #003d7f;
  color: #003d7f;
  border-radius: 25px;
  font-size: 12px;
  padding: 12px 34px; }

/* .headWrapper {
    .top__headWrapper {

        .lang {
            color: $primaryColor;
        }

        .search {
            input {
                border: 1px solid #ccc;
                border-radius: 25px;
                padding-left: 15px;
                height: 31px;
                line-height: 31px;
                padding-right: 15px;
                outline: none;
                box-shadow: none;
            }

            .searchIcon {
                position: absolute;
                top: 3px;
                right: 10px;
                // width: 30px;
                // background-image: url('../images/searchIconOth.png');
                // background-repeat: no-repeat;
                // background-position: center;
                // background-size: contain;
            }
        }       
    }

    .secondHeader {

        background-color: $primaryColor;

        .row {
            @media only screen and (min-width: 768px) {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media only screen and (max-width: 768px) {
                display: block;
            }
        }

        .brandLogo {
            position: absolute;
            overflow-y: visible;
            top: -50%;
            z-index: 3;

            img {
                background-color: $whiteColor;
                border-bottom-left-radius: 12px;
                border-bottom-right-radius: 12px;
                border-bottom: 4px solid #003d7f;
            }
        }

        .investors {
            margin-left: 140px;
        }

        .navbar {
            @media only screen and (max-width: 768px) {
                display: flow-root;
            }

            li.nav-item a {
                color: $whiteColor;
                text-transform: uppercase;
                // font-weight: 700;
                font-size: 15px;
                padding: 15px;

                &:hover {
                    color: $whiteColor;
                }
            }

            .nav-item {
                .dropdown-menu {
                    li a.dropdown-item {
                        color: $primaryColor;

                        &:hover {
                            background-color: $primaryColor;
                            color: $whiteColor;
                        }

                        font-size: 13px;
                        text-transform: capitalize;
                        white-space: inherit;
                    }

                    border: 1px solid $skyblue;
                    border-radius: 0px;
                    width: 240px;
                }
            }
        }

        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu {
                display: block;
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                margin-top: 0;
            }

            .navbar .nav-item:hover .nav-link {
                color: $whiteColor;
            }

            .navbar .dropdown-menu.fade-down {
                top: 80%;
                transform: rotateX(-75deg);
                transform-origin: 0% 0%;
            }

            .navbar .dropdown-menu.fade-up {
                top: 180%;
            }

            .navbar .nav-item:hover .dropdown-menu {
                transition: .6s;
                opacity: 1;
                visibility: visible;
                top: 100%;
                transform: rotateX(0deg);

                li {
                    &:hover {
                        background-color: $skyblue;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
} */
header.transparentHeader {
  padding: 10px 45px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 555;
  background-color: rgba(255, 255, 255, 0.5); }
  header.transparentHeader .brandLogo img {
    height: 60px; }

header #nav-icon1 {
  width: 50px;
  height: 36px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

header #nav-icon1 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #003d7f;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

header #nav-icon1 span:nth-child(1) {
  top: 0px; }

header #nav-icon1 span:nth-child(2) {
  top: 15px; }

header #nav-icon1 span:nth-child(3) {
  top: 30px; }

header #nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

header #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

header #nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.header_menu_modal .slick-slide {
  display: block;
  float: none; }

.header_menu_modal.slick-slider {
  float: none; }

.headerWrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 777;
  display: none; }
  .headerWrapper .menuWrapper {
    position: relative;
    height: 100%; }
    .headerWrapper .menuWrapper .innerWrapper {
      padding-top: 15px;
      padding-bottom: 15px;
      position: absolute;
      right: 5%;
      top: 6%;
      width: 20%;
      background: url("../images/headerTexture.png") repeat-x;
      background-size: cover;
      z-index: 777; }
      .headerWrapper .menuWrapper .innerWrapper .headMenu {
        position: relative; }
        .headerWrapper .menuWrapper .innerWrapper .headMenu .main__headMenu {
          padding: 10px 15px; }
          .headerWrapper .menuWrapper .innerWrapper .headMenu .main__headMenu:hover {
            background-color: rgba(255, 255, 255, 0.5); }
          .headerWrapper .menuWrapper .innerWrapper .headMenu .main__headMenu a {
            color: #ffffff; }
            .headerWrapper .menuWrapper .innerWrapper .headMenu .main__headMenu a:hover {
              text-decoration: none; }
        .headerWrapper .menuWrapper .innerWrapper .headMenu .headSubMenu {
          display: none;
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #ffffff; }
  .headerWrapper .headerOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 666; }

.ourStorySection .mainHead {
  text-align: center;
  padding: 20px 0px 20px 0px;
  /* span:nth-child(1) {
            color: $blackBackgroundColor;
            font-weight: bold;
            font-size: 32px;
        }

        span:nth-child(2) {
            color: orange;
            font-size: 24px;
        }

        span:nth-child(3) {
            color: green;
            font-weight: bold;
            font-size: 32px;
        } */ }

.ourStorySection .inner__ourStorySection {
  background-color: #f7f7f7;
  padding-top: 90px;
  padding-bottom: 150px; }
  .ourStorySection .inner__ourStorySection .ourStoryHead h1 {
    font-size: 44px;
    font-weight: 600;
    margin-bottom: 20px; }
  .ourStorySection .inner__ourStorySection .clients__inner {
    margin-left: 3%; }
    .ourStorySection .inner__ourStorySection .clients__inner h4 {
      color: #003d7f;
      font-size: 43px;
      font-weight: bold; }
    .ourStorySection .inner__ourStorySection .clients__inner p {
      font-size: 13px; }
    .ourStorySection .inner__ourStorySection .clients__inner .ourDistributer,
    .ourStorySection .inner__ourStorySection .clients__inner .ourRetailers,
    .ourStorySection .inner__ourStorySection .clients__inner .ourFarmers {
      position: relative;
      width: 100%;
      display: table-cell;
      vertical-align: middle; }
    .ourStorySection .inner__ourStorySection .clients__inner .d-block {
      height: 33.3%; }
      .ourStorySection .inner__ourStorySection .clients__inner .d-block .d-table {
        height: 100%;
        width: 100%; }
  .ourStorySection .inner__ourStorySection .ourStoryImg img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%; }

.product {
  padding-top: 100px; }
  .product .head__product h6 {
    font-size: 40px;
    font-weight: bold; }
  .product .herbicides img,
  .product .fungicides img,
  .product .insecticides img,
  .product .plant img {
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 -2px 8px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    transition: all .7s ease;
    width: 75%; }
  .product .herbicides h6,
  .product .fungicides h6,
  .product .insecticides h6,
  .product .plant h6 {
    color: #5a5a5a;
    font-size: 14px; }
  .product .herbicides p,
  .product .fungicides p,
  .product .insecticides p,
  .product .plant p {
    height: 75px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5a5a5a;
    font-size: 13px;
    text-align: justify; }
  .product .herbicides img:hover {
    border-radius: 50%; }
  .product .herbicides button.outline_btn:hover {
    background-color: #003d7f;
    color: #ffffff; }
  .product .fungicides img:hover {
    border-radius: 50%; }
  .product .fungicides button.outline_btn:hover {
    background-color: #003d7f;
    color: #ffffff; }
  .product .insecticides img:hover {
    border-radius: 50%; }
  .product .insecticides button.outline_btn:hover {
    background-color: #003d7f;
    color: #ffffff; }
  .product .plant img:hover {
    border-radius: 50%; }
  .product .plant button.outline_btn:hover {
    background-color: #003d7f;
    color: #ffffff; }

.research {
  margin: 90px 0;
  padding: 90px 0;
  background-color: #f7f7f7; }
  .research .head__research {
    margin-left: 3.4%; }
    .research .head__research h1 {
      color: #222;
      font-size: 44px;
      font-weight: 600;
      line-height: 56px;
      margin-top: 5px; }
    .research .head__research p {
      margin-top: 5%;
      text-align: justify; }
    .research .head__research button.outline_btn:hover {
      background-color: #003d7f;
      color: #ffffff; }
  .research .img__research {
    margin-left: 4.5%; }
    .research .img__research img {
      -webkit-box-shadow: 0 0 7px 1px rgba(191, 191, 191, 0.7);
      -moz-box-shadow: 0 0 7px 1px rgba(191, 191, 191, 0.7);
      box-shadow: 0 0 7px 1px rgba(191, 191, 191, 0.7);
      border-radius: 50%;
      background-color: #ffffff; }

.quickLook h1 {
  color: #222;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  margin-top: 5px; }

.quickLook .chairman .description {
  position: absolute;
  bottom: 0px;
  left: 15px;
  right: 15px;
  background-color: #003d7f;
  color: #ffffff;
  padding: 15px; }
  .quickLook .chairman .description h6 {
    font-size: 22px;
    font-weight: 600; }
  .quickLook .chairman .description p {
    font-size: 14px;
    line-height: 1.5; }

.quickLook .inner__income,
.quickLook .inner__tree,
.quickLook .inner__sustainbility,
.quickLook .inner__CSR {
  position: relative;
  width: 100%;
  height: 36.432vh;
  padding: 0px;
  margin: 0; }
  .quickLook .inner__income::after,
  .quickLook .inner__tree::after,
  .quickLook .inner__sustainbility::after,
  .quickLook .inner__CSR::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.quickLook .income,
.quickLook .tree,
.quickLook .sustainbility,
.quickLook .CSR {
  position: relative; }
  .quickLook .income .textOverdImg,
  .quickLook .tree .textOverdImg,
  .quickLook .sustainbility .textOverdImg,
  .quickLook .CSR .textOverdImg {
    position: absolute;
    left: 30px;
    right: 15px;
    bottom: 30px;
    z-index: 15; }
    .quickLook .income .textOverdImg h6,
    .quickLook .tree .textOverdImg h6,
    .quickLook .sustainbility .textOverdImg h6,
    .quickLook .CSR .textOverdImg h6 {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600; }

.quickLook .income {
  height: 100%; }
  .quickLook .income .inner__income {
    background: url(../images/Doubling_Farmer_Income_Icon.jpg) no-repeat center center;
    background-size: cover; }
  .quickLook .income button {
    background-color: transparent;
    border-color: #ffffff;
    z-index: 15; }
    .quickLook .income button.outline_btn {
      color: #ffffff; }
      .quickLook .income button.outline_btn:hover {
        background-color: #003d7f;
        color: #ffffff;
        cursor: pointer; }

.quickLook .tree {
  height: 100%; }
  .quickLook .tree .inner__tree {
    background: url(../images/Social_media_tree.png) no-repeat center center;
    background-size: cover; }
  .quickLook .tree button {
    background-color: transparent;
    border-color: #ffffff;
    z-index: 15; }
    .quickLook .tree button.outline_btn {
      color: #ffffff; }
      .quickLook .tree button.outline_btn:hover {
        background-color: #003d7f;
        color: #ffffff;
        cursor: pointer; }

.quickLook .sustainbility {
  height: 100%; }
  .quickLook .sustainbility .inner__sustainbility {
    background: url(../images/Sustainbility_icon.png) no-repeat center center;
    background-size: cover; }
  .quickLook .sustainbility button {
    background-color: transparent;
    border-color: #ffffff;
    z-index: 15; }
    .quickLook .sustainbility button.outline_btn {
      color: #ffffff; }
      .quickLook .sustainbility button.outline_btn:hover {
        background-color: #003d7f;
        color: #ffffff;
        cursor: pointer; }

.quickLook .CSR {
  height: 100%; }
  .quickLook .CSR .inner__CSR {
    background: url(../images/CSR_icon.png) no-repeat center center;
    background-size: cover; }
  .quickLook .CSR button {
    background-color: transparent;
    border-color: #ffffff;
    z-index: 15; }
    .quickLook .CSR button.outline_btn {
      color: #ffffff; }
      .quickLook .CSR button.outline_btn:hover {
        background-color: #003d7f;
        color: #ffffff;
        cursor: pointer; }

.contactUs {
  position: relative;
  width: 100%;
  height: 500px;
  display: block;
  padding: 0;
  margin: 0;
  background: url(../images/bannerSec7.jpg) no-repeat center center;
  background-size: cover;
  margin-top: 50px;
  padding-top: 50px; }
  .contactUs .form__contactUs {
    margin: 0 auto; }
    .contactUs .form__contactUs .head__contactUs {
      margin-bottom: 50px; }
    .contactUs .form__contactUs input,
    .contactUs .form__contactUs textarea {
      background-color: transparent;
      border-radius: 0px;
      border-color: #ffffff;
      color: #ffffff; }
      .contactUs .form__contactUs input::placeholder,
      .contactUs .form__contactUs textarea::placeholder {
        color: #ffffff; }
      .contactUs .form__contactUs input:focus,
      .contactUs .form__contactUs textarea:focus {
        outline: none;
        box-shadow: none; }
    .contactUs .form__contactUs textarea {
      margin-top: 15px; }
    .contactUs .form__contactUs .formSubmitBtn {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -112px;
      margin: auto; }
      .contactUs .form__contactUs .formSubmitBtn button {
        padding: 12px 60px; }
        .contactUs .form__contactUs .formSubmitBtn button.outline_btn:hover {
          background-color: #003d7f;
          color: #ffffff; }

.bottomSiteMap {
  background-color: #eeeded;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding-top: 50px; }
  .bottomSiteMap .col-lg-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%; }
  .bottomSiteMap h2 {
    font-size: 0.8vw;
    font-weight: 600; }
    @media only screen and (max-width: 768px) {
      .bottomSiteMap h2 {
        font-size: 18px; } }
  .bottomSiteMap ul li {
    list-style-type: none; }
    .bottomSiteMap ul li a {
      font-size: 0.65vw;
      color: #5a5a5a; }
      @media only screen and (max-width: 768px) {
        .bottomSiteMap ul li a {
          font-size: 14px; } }
      .bottomSiteMap ul li a:hover {
        color: #003d7f;
        text-decoration: none; }

footer {
  background-color: #f7f7f7;
  height: 100px; }
  footer .copyRightText {
    line-height: 100px; }
    footer .copyRightText p {
      color: #838383;
      font-size: 0.65vw; }
  footer .footerOptions {
    line-height: 100px; }
    footer .footerOptions li > a {
      color: #838383;
      font-size: 0.65vw; }
      footer .footerOptions li > a:hover {
        color: #000000;
        text-decoration: none; }

.fade:not(.show) {
  opacity: 1 !important; }

.slickCustomAnimation {
  /* img {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      } */ }
  .slickCustomAnimation .slick-slider {
    overflow: hidden; }
  .slickCustomAnimation .slick-slider div.slick-active .hero-image {
    -webkit-animation: myMove 8s 1 ease-in-out;
    -moz-animation: myMove 8s 1 ease-in-out;
    -o-animation: myMove 8s 1 ease-in-out;
    -ms-animation: myMove 8s 1 ease-in-out;
    animation: myMove 4s 1 ease-in-out; }

@keyframes myMove {
  from {
    transform: scale(1.2, 1.2);
    transform-origin: 50% 0%; }
  to {
    transform: scale(1, 1);
    transform-origin: 50% 50%; } }

@-webkit-keyframes myMove {
  from {
    -webkit-transform: scale(1, 1);
    -webkit-transform-origin: 50% 50%; }
  to {
    -webkit-transform: scale(1.1, 1.1);
    -webkit-transform-origin: 50% 0%; } }

@-o-keyframes myMove {
  from {
    -o-transform: scale(1, 1);
    -o-transform-origin: 50% 50%; }
  to {
    -o-transform: scale(1.1, 1.1);
    -o-transform-origin: 50% 0%; } }

@-moz-keyframes myMove {
  from {
    -moz-transform: scale(1, 1);
    -moz-transform-origin: 50% 50%; }
  to {
    -moz-transform: scale(1.1, 1.1);
    -moz-transform-origin: 50% 0%; } }

@-ms-keyframes myMove {
  .slickCustomAnimation from {
    -ms-transform: scale(1, 1);
    -ms-transform-origin: 50% 50%; }
  .slickCustomAnimation to {
    -ms-transform: scale(1.1, 1.1);
    -ms-transform-origin: 50% 0%; } }

.careerHead {
  font-size: 44px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px; }

.box_shadow {
  -webkit-box-shadow: 0 4px 7px 0 rgba(191, 191, 191, 0.7);
  -moz-box-shadow: 0 4px 7px 0 rgba(191, 191, 191, 0.7);
  box-shadow: 0 4px 7px 0 rgba(191, 191, 191, 0.7); }

.ourPresence {
  margin-top: 50px; }
  .ourPresence .presenceBox {
    text-align: right;
    width: 56%;
    margin-right: 15px; }
    .ourPresence .presenceBox h2 {
      font-size: 44px;
      font-weight: 600;
      color: #003d7f; }
    .ourPresence .presenceBox p {
      font-size: 14px;
      font-weight: 600; }
  .ourPresence .img {
    width: 30%; }

.featured p {
  font-size: 0.864vw;
  font-weight: 600; }

.joinUs {
  margin-top: 50px; }
  .joinUs .ribbon {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: #ffffff;
    color: #222;
    padding: 4px 6px; }
    .joinUs .ribbon p {
      margin-bottom: 0px;
      font-size: 0.864vw;
      font-weight: 600; }
  .joinUs img {
    width: 100%; }
  .joinUs .joinText {
    border: 1px solid #cfcfcf;
    padding: 15px; }
    .joinUs .joinText p {
      font-size: 0.864vw; }

.banner {
  background: url("../images/aboutBanner1.jpg") no-repeat center center;
  background-size: cover;
  height: 600px; }

.profile .inner__profile {
  background-color: #ffffff;
  padding: 40px 15px 15px 25px;
  margin: -120px auto 0; }
  .profile .inner__profile h5 {
    font-weight: 600; }
  .profile .inner__profile p {
    text-align: justify; }
